In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="aaron2013",
    auth_plugin="mysql_native_password"
)

In [2]:
import pandas as pd

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute("CREATE DATABASE agridata_explorer")

In [5]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('agridata_explorer',)
('information_schema',)
('mysql',)
('performance_schema',)
('project_police',)
('sakila',)
('sys',)
('world',)

In [6]:
mycursor.execute("use agridata_explorer")

In [7]:
import pandas as pd

df = pd.read_csv(
    r'C:\Users\viju\Desktop\AgriData Explorer\ICRISAT-District Level Data - ICRISAT-District Level Data.csv',
    low_memory=False
)

In [8]:
df

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Dist Code                                    16146 non-null  int64
 1   Year                                         16146 non-null  int64
 2   State Code                                   16146 non-null  int64
 3   State Name                                   16146 non-null  object
 4   Dist Name                                    16146 non-null  object
 5   RICE AREA (1000 ha)                          16146 non-null  float64
 6   RICE PRODUCTION (1000 tons)                  16146 non-null  float64
 7   RICE YIELD (Kg per ha)                       16146 non-null  float64
 8   WHEAT AREA (1000 ha)                         16146 non-null  float64
 9   WHEAT PRODUCTION (1000 tons)                 16146 non-null  float64
 10  WHEAT YIELD (Kg per ha)                      16146 non-null  float64
 11  KHARIF SORGHUM AREA (1000 ha)                16146 non-null  float64
 12  KHARIF SORGHUM PRODUCTION (1000 tons)        16146 non-null  float64
 13  KHARIF SORGHUM YIELD (Kg per ha)             16146 non-null  float64
 14  RABI SORGHUM AREA (1000 ha)                  16146 non-null  float64
 15  RABI SORGHUM PRODUCTION (1000 tons)          16146 non-null  float64
 16  RABI SORGHUM YIELD (Kg per ha)               16146 non-null  float64
 17  SORGHUM AREA (1000 ha)                       16146 non-null  float64
 18  SORGHUM PRODUCTION (1000 tons)               16146 non-null  float64
 19  SORGHUM YIELD (Kg per ha)                    16146 non-null  float64
 20  PEARL MILLET AREA (1000 ha)                  16146 non-null  float64
 21  PEARL MILLET PRODUCTION (1000 tons)          16146 non-null  float64
 22  PEARL MILLET YIELD (Kg per ha)               16146 non-null  float64
 23  MAIZE AREA (1000 ha)                         16146 non-null  float64
 24  MAIZE PRODUCTION (1000 tons)                 16146 non-null  float64
 25  MAIZE YIELD (Kg per ha)                      16146 non-null  float64
 26  FINGER MILLET AREA (1000 ha)                 16146 non-null  float64
 27  FINGER MILLET PRODUCTION (1000 tons)         16146 non-null  float64
 28  FINGER MILLET YIELD (Kg per ha)              16146 non-null  float64
 29  BARLEY AREA (1000 ha)                        16146 non-null  float64
 30  BARLEY PRODUCTION (1000 tons)                16146 non-null  float64
 31  BARLEY YIELD (Kg per ha)                     16146 non-null  float64
 32  CHICKPEA AREA (1000 ha)                      16146 non-null  float64
 33  CHICKPEA PRODUCTION (1000 tons)              16146 non-null  float64
 34  CHICKPEA YIELD (Kg per ha)                   16146 non-null  float64
 35  PIGEONPEA AREA (1000 ha)                     16146 non-null  float64
 36  PIGEONPEA PRODUCTION (1000 tons)             16146 non-null  float64
 37  PIGEONPEA YIELD (Kg per ha)                  16146 non-null  float64
 38  MINOR PULSES AREA (1000 ha)                  16146 non-null  float64
 39  MINOR PULSES PRODUCTION (1000 tons)          16146 non-null  float64
 40  MINOR PULSES YIELD (Kg per ha)               16146 non-null  float64
 41  GROUNDNUT AREA (1000 ha)                     16146 non-null  float64
 42  GROUNDNUT PRODUCTION (1000 tons)             16146 non-null  float64
 43  GROUNDNUT YIELD (Kg per ha)                  16146 non-null  float64
 44  SESAMUM AREA (1000 ha)                       16146 non-null  float64
 45  SESAMUM PRODUCTION (1000 tons)               16146 non-null  float64
 46  SESAMUM YIELD (Kg per ha)                    16146 non-null  float64
 47  RAPESEED AND MUSTARD AREA (1000 ha)          16146 non-null  float64
 48  RAPESEED AND MUSTARD PRODUCTION (1000 tons)  16146 non-null  float64
 49  RAPESEED AND MUSTARD YIELD (Kg per ha)       16146 non-null  float64
 50  SAFFLOWER AREA (1000 ha)                     16146 non-null  float64
 51  SAFFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 52  SAFFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 53  CASTOR AREA (1000 ha)                        16146 non-null  float64
 54  CASTOR PRODUCTION (1000 tons)                16146 non-null  float64
 55  CASTOR YIELD (Kg per ha)                     16146 non-null  float64
 56  LINSEED AREA (1000 ha)                       16146 non-null  float64
 57  LINSEED PRODUCTION (1000 tons)               16146 non-null  float64
 58  LINSEED YIELD (Kg per ha)                    16146 non-null  float64
 59  SUNFLOWER AREA (1000 ha)                     16146 non-null  float64
 60  SUNFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 61  SUNFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 62  SOYABEAN AREA (1000 ha)                      16146 non-null  float64
 63  SOYABEAN PRODUCTION (1000 tons)              16146 non-null  float64
 64  SOYABEAN YIELD (Kg per ha)                   16146 non-null  float64
 65  OILSEEDS AREA (1000 ha)                      16146 non-null  float64
 66  OILSEEDS PRODUCTION (1000 tons)              16146 non-null  float64
 67  OILSEEDS YIELD (Kg per ha)                   16146 non-null  float64
 68  SUGARCANE AREA (1000 ha)                     16146 non-null  float64
 69  SUGARCANE PRODUCTION (1000 tons)             16146 non-null  float64
 70  SUGARCANE YIELD (Kg per ha)                  16146 non-null  float64
 71  COTTON AREA (1000 ha)                        16146 non-null  float64
 72  COTTON PRODUCTION (1000 tons)                16146 non-null  float64
 73  COTTON YIELD (Kg per ha)                     16146 non-null  float64
 74  FRUITS AREA (1000 ha)                        16146 non-null  float64
 75  VEGETABLES AREA (1000 ha)                    16146 non-null  float64
 76  FRUITS AND VEGETABLES AREA (1000 ha)         16146 non-null  float64
 77  POTATOES AREA (1000 ha)                      16146 non-null  float64
 78  ONION AREA (1000 ha)                         16146 non-null  float64
 79  FODDER AREA (1000 ha)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [10]:
df.describe()

,Dist Code,Year,State Code,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),WHEAT YIELD (Kg per ha),KHARIF SORGHUM AREA (1000 ha),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
count,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,...,16146.00000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000,16146.000000
mean,269.769231,1991.496841,9.568562,128.593192,224.889565,1486.924784,77.057946,182.012746,1492.419859,22.632268,...,4500.15306,28.018367,7.229225,124.644823,7.750478,11.086250,18.677877,3.177038,1.194604,21.550328
std,278.309125,15.011185,4.988538,160.078825,326.629828,956.185281,100.394479,348.834254,1081.255367,45.062714,...,3153.97042,74.239648,25.042132,207.681147,13.591135,18.003257,25.881842,8.029509,4.285067,60.062601
min,1.000000,1966.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,78.000000,1978.000000,6.000000,10.400000,9.460000,800.000000,1.770000,2.000000,750.000000,0.000000,...,2000.00000,0.000000,0.000000,0.000000,0.310000,1.600000,2.520000,0.000000,0.060000,0.000000
50%,156.000000,1991.000000,10.000000,66.800000,95.840000,1333.210000,36.800000,42.700000,1347.450000,2.050000,...,4502.21000,0.050000,0.000000,0.000000,2.220000,4.740000,8.945000,0.390000,0.280000,1.200000
75%,241.000000,2005.000000,12.000000,191.390000,315.715000,2113.517500,123.000000,215.192500,2131.580000,20.900000,...,6704.60500,10.097500,2.000000,202.270000,8.790000,12.510000,23.570000,3.150000,0.880000,16.762500
max,917.000000,2017.000000,20.000000,1154.230000,3215.010000,5653.830000,879.490000,4305.500000,5541.520000,334.800000,...,22062.30000,800.890000,376.610000,5000.000000,159.540000,200.060000,240.990000,111.610000,131.350000,1162.660000

In [11]:
df.isnull()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16143,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16144,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16145,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Dist Code                               0
Year                                    0
State Code                              0
State Name                              0
Dist Name                               0
                                       ..
VEGETABLES AREA (1000 ha)               0
FRUITS AND VEGETABLES AREA (1000 ha)    0
POTATOES AREA (1000 ha)                 0
ONION AREA (1000 ha)                    0
FODDER AREA (1000 ha)                   0
Length: 80, dtype: int64

In [13]:
table_name = "agridata"

# Create table SQL dynamically
columns = ", ".join([f"`{col}` TEXT" for col in df.columns])
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns});"

mycursor.execute(create_table_query)
mydb.commit()
print("✅ Table created successfully!")

✅ Table created successfully!

In [14]:
table_name = "agridata"  # 👈 define your table name

placeholders = ", ".join(["%s"] * len(df.columns))
columns = ", ".join([f"`{col}`" for col in df.columns])
sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Convert DataFrame rows to tuples
data = [tuple(row) for row in df.to_numpy()]

# Insert all data
mycursor.executemany(sql, data)
mydb.commit()

print(f"✅ {mycursor.rowcount} rows inserted into '{table_name}' successfully!")

✅ 16146 rows inserted into 'agridata' successfully!

In [15]:
mycursor.execute("SELECT * FROM agridata")

myresult = mycursor.fetchall()

for x in myresult[:10]:
  print(x)

('1', '1966', '14', 'Chhattisgarh', 'Durg', '548.0', '185.0', '337.59', '44.0', '20.0', '454.55', '0.6', '0.4', '666.67', '0.0', '0.0', '0.0', '0.6', '0.4', '666.67', '0.0', '0.0', '0.0', '3.0', '2.0', '666.67', '0.8', '0.2', '250.0', '0.1', '0.0', '0.0', '54.0', '27.0', '500.0', '37.0', '15.0', '405.41', '114.96', '-1.0', '-1.0', '0.2', '0.1', '500.0', '3.0', '0.3', '100.0', '1.0', '0.2', '200.0', '0.07', '0.0', '0.0', '0.7', '0.2', '285.71', '45.7', '6.8', '148.8', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '50.7', '-1.0', '-1.0', '0.9', '1.6', '1777.78', '0.0', '0.0', '0.0', '5.95', '6.64', '12.59', '0.01', '0.6', '0.47')
('1', '1967', '14', 'Chhattisgarh', 'Durg', '547.0', '409.0', '747.71', '50.0', '26.0', '520.0', '1.1', '0.9', '818.18', '0.0', '0.0', '0.0', '1.1', '0.9', '818.18', '0.0', '0.0', '0.0', '3.0', '3.0', '1000.0', '0.9', '0.2', '222.22', '0.2', '0.1', '500.0', '52.0', '15.0', '288.46', '36.0', '26.0', '722.22', '269.54', '-1.0', '-1.0', '0.1', '0.1', '1000.0', '11.6', '0.9', '77.59', '1.1', '0.3', '272.73', '0.01', '0.0', '0.0', '0.5', '0.1', '200.0', '100.1', '25.8', '257.74', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '113.55', '-1.0', '-1.0', '0.8', '1.2', '1500.0', '0.0', '0.0', '0.0', '5.77', '7.24', '13.02', '0.01', '0.56', '1.23')
('1', '1968', '14', 'Chhattisgarh', 'Durg', '556.3', '468.0', '841.27', '53.7', '30.0', '558.66', '0.5', '0.4', '800.0', '0.0', '0.0', '0.0', '0.5', '0.4', '800.0', '0.0', '0.0', '0.0', '2.8', '2.0', '714.29', '0.8', '0.2', '250.0', '0.2', '0.1', '500.0', '51.3', '23.0', '448.34', '35.7', '28.0', '784.31', '289.46', '-1.0', '-1.0', '0.1', '0.1', '1000.0', '11.3', '1.6', '141.59', '1.2', '0.5', '416.67', '0.02', '0.0', '0.0', '0.6', '0.3', '500.0', '113.3', '23.8', '210.06', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '126.62', '-1.0', '-1.0', '1.0', '1.0', '1000.0', '0.0', '0.0', '0.0', '5.41', '7.4', '12.81', '0.1', '0.58', '1.02')
('1', '1969', '14', 'Chhattisgarh', 'Durg', '563.4', '400.8', '711.4', '49.4', '26.5', '536.44', '0.8', '0.6', '750.0', '0.0', '0.0', '0.0', '0.8', '0.6', '750.0', '0.0', '0.0', '0.0', '2.7', '2.3', '851.85', '0.8', '0.2', '250.0', '0.2', '0.1', '500.0', '52.6', '23.1', '439.16', '35.7', '27.3', '764.71', '298.18', '98.3', '329.67', '0.1', '0.1', '1000.0', '11.4', '1.4', '122.81', '1.2', '0.4', '333.33', '0.02', '0.0', '0.0', '0.5', '0.1', '200.0', '101.1', '13.0', '128.59', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '114.14', '14.9', '130.54', '1.0', '1.9', '1900.0', '0.0', '0.0', '0.0', '5.52', '7.16', '12.69', '0.01', '0.56', '0.84')
('1', '1970', '14', 'Chhattisgarh', 'Durg', '571.6', '473.6', '828.55', '44.2', '29.0', '656.11', '0.9', '0.6', '666.67', '0.0', '0.0', '0.0', '0.9', '0.6', '666.67', '0.0', '0.0', '0.0', '2.5', '3.3', '1320.0', '0.8', '0.2', '250.0', '0.1', '0.1', '1000.0', '53.3', '32.6', '611.63', '33.3', '35.2', '1057.06', '342.8', '142.9', '416.86', '0.1', '0.1', '1000.0', '10.8', '1.1', '101.85', '1.1', '0.4', '363.64', '0.02', '0.0', '0.0', '0.4', '0.1', '250.0', '114.1', '22.7', '198.95', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '126.4', '24.3', '192.25', '0.7', '1.4', '2000.0', '0.0', '0.0', '0.0', '5.45', '7.19', '12.64', '0.02', '0.52', '0.42')
('1', '1971', '14', 'Chhattisgarh', 'Durg', '581.8', '412.9', '709.69', '44.4', '25.8', '581.08', '0.3', '0.2', '666.67', '0.0', '0.0', '0.0', '0.3', '0.2', '666.67', '0.0', '0.0', '0.0', '2.7', '3.1', '1148.15', '0.9', '0.2', '222.22', '0.2', '0.1', '500.0', '50.3', '32.8', '652.09', '33.9', '34.6', '1020.65', '351.5', '154.9', '440.68', '0.1', '0.0', '0.0', '10.8', '1.0', '92.59', '1.1', '0.4', '363.64', '0.07', '0.0', '0.0', '0.3', '0.1', '333.33', '111.7', '18.5', '165.62', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '124.2', '20.2', '162.64', '0.5', '1.0', '2000.0', '0.0', '0.0', '0.0', '5.42', '7.48', '12.91', '0.01', '0.54', '0.38')
('1', '1972', '14', 'Chhattisgarh', 'Durg', '582.2', '381.0', '654.41', '39.6', '20.6', '520.2', '0.3', '0.3', '1000.0', '0.0', '0.0', '0.0', '0.3', '0.3', '1000.0', '0.0', '0.0', '0.0', '2.8', '3.2', '1142.86', '0.8', '0.1', '125.0', '0.1', '0.1', '1000.0', '52.3', '32.6', '623.33', '32.8', '42.4', '1292.68', '331.8', '100.6', '303.19', '0.1', '0.0', '0.0', '10.4', '1.9', '182.69', '1.2', '0.7', '583.33', '0.0', '0.0', '0.0', '0.3', '0.1', '333.33', '111.7', '22.7', '203.22', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '123.8', '25.4', '205.17', '0.5', '1.0', '2000.0', '0.0', '0.0', '0.0', '5.48', '7.53', '13.01', '0.01', '0.55', '0.26')
('1', '1973', '14', 'Chhattisgarh', 'Durg', '600.0', '471.9', '786.5', '37.3', '18.6', '498.66', '0.2', '0.2', '1000.0', '0.0', '0.0', '0.0', '0.2', '0.2', '1000.0', '0.0', '0.0', '0.0', '2.9', '2.7', '931.03', '0.8', '0.2', '250.0', '0.1', '0.1', '1000.0', '56.4', '32.4', '574.47', '32.2', '22.8', '708.07', '352.6', '106.4', '301.76', '0.1', '0.0', '0.0', '9.6', '1.3', '135.42', '1.2', '0.7', '583.33', '0.0', '0.0', '0.0', '0.2', '0.1', '500.0', '118.8', '28.0', '235.69', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '130.2', '30.3', '232.72', '0.2', '1.2', '6000.0', '0.0', '0.0', '0.0', '5.3', '7.6', '12.9', '0.01', '0.53', '0.14')
('1', '1974', '14', 'Chhattisgarh', 'Durg', '587.4', '219.0', '372.83', '36.5', '22.4', '613.7', '0.5', '0.4', '800.0', '0.0', '0.0', '0.0', '0.5', '0.4', '800.0', '0.0', '0.0', '0.0', '2.9', '2.9', '1000.0', '0.8', '0.3', '375.0', '0.2', '0.1', '500.0', '54.9', '41.0', '746.81', '32.5', '37.6', '1156.92', '153.1', '61.3', '400.39', '0.0', '0.0', '0.0', '9.9', '1.4', '141.41', '1.4', '0.8', '571.43', '0.0', '0.0', '0.0', '0.2', '0.1', '500.0', '85.0', '21.4', '251.76', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '96.8', '23.9', '246.9', '0.8', '1.5', '1875.0', '0.0', '0.0', '0.0', '5.21', '7.44', '12.64', '0.03', '0.45', '0.06')
('1', '1975', '14', 'Chhattisgarh', 'Durg', '598.3', '454.0', '758.82', '49.2', '27.8', '565.04', '0.2', '0.2', '1000.0', '0.0', '0.0', '0.0', '0.2', '0.2', '1000.0', '0.0', '0.0', '0.0', '2.9', '2.9', '1000.0', '0.8', '0.2', '250.0', '0.2', '0.2', '1000.0', '58.3', '30.2', '518.01', '34.2', '26.7', '780.7', '320.2', '121.2', '378.51', '0.0', '0.0', '0.0', '8.6', '0.9', '104.65', '1.6', '0.9', '562.5', '0.1', '0.0', '0.0', '0.2', '0.1', '500.0', '120.7', '28.7', '237.78', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '131.5', '30.8', '234.22', '0.8', '1.4', '1750.0', '0.0', '0.0', '0.0', '5.11', '7.86', '12.97', '0.05', '0.52', '0.08')